.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #070F2B;
  }
  
  .navbar {
    width: 100%;
    padding: 10px 0;
    background-color: #F2F0DE;
    color: white;
    text-align: center;
  }
  
  .navbar a {
    color: rgb(7, 0, 43);
    font-weight: bold;
    font-size: 15px;
  }
  
  .chart-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  
  .chart {
    margin: 0 10px;
  }
  
  .blurry-box {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    
  }

h5 {
    font-family: Arial, sans-serif; 
    font-size: 15px; 
    font-weight: bold;
    color: #030441; 
    margin-bottom: 10px; 
    text-align: center;
  }
  
  .dashboard-heading
  {
    color: #F2F0DE;
    
  }

  .lower-container
  {
    display: grid;
    grid-gap: 50px; /* Adjust spacing between columns */
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    margin-left: 630px;
    margin-top: -10px; 
   
    

  }
  

