.glass-container {
  height: 100vh;
  width: 100%;
  background-image: url("wallpaper2.jpg");
  background-size: cover; 
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.glass-content {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  height: 70%;
  width: 100rem;
  text-align: left;
  background-repeat: no-repeat;
}
.title
{
  margin-top: 15px;
  font-size: 25px; 
  margin-bottom: 8rem;
}
.text {
  margin-top: 4rem;
  margin-left: 4rem;
  font-size: 16px; 
  margin-bottom: 15px; 
}

.upload-button {
  display: inline-block; 
  cursor: pointer; 
  margin-top: 10px ;
  margin-left: 4rem;
  padding: 10px 20px; 
  border-radius: 5px; 
  align-items: center;
 

}

.uploaded-file {
  padding-right: 20px; /* Add right padding to create space between file name and button border */
}

.upload-button:hover {
  background:#9f88fd; 
}

.uploaded-file {
  margin-left: 20px; /* Add right padding to create space between file name and button border */
  
}

input[type="text"] {
  padding: 10px; 
  margin-top: 10px ;
  margin-left: 4rem; 
  border: 1px solid #ccc; 
  width: 20%;
  border-radius: 5px;
  font-size: 16px; 
  color: #10182f;
}
input[type="text"]:focus {
  outline: none; 
  border-color: #9f88fd; 
  box-shadow: 0 0 5px rgba(159, 136, 253, 0.5); /* Add a box shadow on focus */
}
input[type="text"]::placeholder {
  color: #6c7a89; 
  font-size: 12px;
  text-transform: capitalize;
}

.submit-button {
  background: linear-gradient(135deg, #9F88FD, #1EA8DF); /* Gradient background */
  border: none; 
  color: white; 
  padding: 15px 30px; /* Increase padding for larger size */
  border-radius: 5px; 
  margin-top: 5rem; 
  margin-left: 4rem;
  margin-right: 4rem;
  cursor: pointer; 
  transition: background-color 0.3s; 
  font-size: 18px; /* Increase font size */
}


.submit-button:hover {
  background: linear-gradient(135deg, #0E87C2, #156d83); 
}
