.glass-container {
  height: 100vh;
  width: 100%;
  background-image: url("wallpaper5.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.glass-content {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  height: 100vh;
  width: 50%;
}

.logo-main span {
  font-size: 2rem;
}

.text-main {
  text-transform: none;
  font-family: "Major Mono Display", monospace;
}

.text2 {
  text-transform: none;
  margin-bottom: 2rem;
}
.text {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  margin: 3rem 0 1rem;
}

.text-center {
  margin: 2rem 0 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.upload-csv {
  border: 1px solid rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.1);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s; 
}

.upload-csv:hover {
  background-color: transparent;
}

.upload-button {
  transition: transform 300ms ease-in;
  cursor: pointer; 
  padding: 13rem;
}

.upload-button:hover {
  transform: translateY(-5px);
}

input[type="text"] {
  padding: 10px; 
  border: 1px solid rgba(255,255,255,0.3);
  background-color: transparent;
  width: 100%;
  border-radius: 1px;
  text-transform: none;
  font-size: 16px; 
  color: #EDF1F4;
}

input[type="text"]:focus {
  outline: none; 
  border-color: #9f88fd; 
  box-shadow: 0 0 5px rgba(159, 136, 253, 0.5); /* Add a box shadow on focus */
}


input[type="text"]::placeholder {
  color: #a8abac; 
  font-size: 1rem;
  text-transform: none;
}

input[type="text"]:focus::placeholder {
  color: transparent;
}
.submit {
  display: flex;
  justify-content: center;
}
.submit-button {
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.1);
  color: #EDF1F4; 
  margin: 2rem 0;
  padding: 1.2rem 4rem;
  width: 30%;
  border-radius: 1px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  font-size: 1rem; /* Increase font size */
}

.submit-button:hover {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.1);
}
