.sidebar
{
  background: rgb(37, 43, 56);
  flex: 0 0 20%;
  position: relative;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
}

.logo
{
  padding: 2rem 4rem;
  color: white;
}

.logo > span > span{
    color: gray;
}

.menu
{
  flex: 1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.menuItem
{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  position: relative; 
  transition: all 300ms ease;
  margin-left: 2rem;
  color: white;
}

.menuItem span {
  color: gray;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
}

.menuItem:hover {
    cursor: pointer;
}
 
.active {
    background: transparent;
    margin-left: 0;
}

.active span {
  color: white;
}

.active::before {
    content: "";
    width: 2px;
    height: 100%;
    background: white;
    margin-right: calc(1rem - 2px);
  }