.sidebar {
  padding: 0rem 4rem;
  background: var(--matte);
  flex: 0 0 2%;
  transition: all 300ms ease;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 2rem 0;
  color: white;
  font-size: 1.5rem;
}

.logo > span > span {
  color: #a5e5fb;
}

.download-button {
  padding: 2rem 0;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 300ms ease-in-out; /* Only transition transform property */
  color: white;
}

.menuItem span:hover {
  color: #e5e5e5;
}

.menuItem span {
  color: gray;
  font-size: 0.9rem;
}

.download-button {
  transition: transform 300ms ease-in-out; /* Only transition transform property */
}

.menuItem:hover,
.download-button:hover {
  cursor: pointer;
  transform: translateY(-5px); /* Adjust the value as needed */
}

.icon-wrapper:hover {
  color: white;
}

.active {
  background: transparent;
  margin-top: 0; /* Adjusted to set margin-left to 0 */
}

.active span {
  color: white;
}
