.features {
    margin-top: 6rem;
    display: flex;
  flex-direction: column; 
  margin: 6rem 0;
  width: 90vw;
  background-color: var(--matte);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.features-container li > span {
  font-size: 1.5rem;
  color: rgba(135, 108, 223, 1);
  display: inline-block;
  margin-top: 1rem;
}

.features-container {
    padding: 2rem;
    height: 60vh;
}
.features-container h1 {
  font-size: 2rem;
}
.features-container ul {
    line-height: 2rem;
    font-size: 1.2rem;
}