/* css fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

* {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  box-sizing: border-box;
  color:#EDF1F4 ;
}

/* css variables */
:root {

  --color-primary1: #9F88FD;
  --color-primary2: #1EA8DF;
  --color-primary3: #0079E7;
  --black:#181719;
  --white:#FFFFFF;
  --white2:#EDF1F4;

  --color-primary1: #6346d5;
  --color-primary2: #5b89d8;
  --color-primary3: #743ee2;

  --bg-color: rgba(14, 19, 23, 0.24);
  --glass: rgba(14, 19, 23, 0.54);
}

.App {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgb(47, 54, 80) 20%, rgb(80, 93, 124) 96%);
  /* background: linear-gradient(106.37deg, #ffe1bc 29.63%, #ffcfd1 51.55%, #f3c6f1 90.85% ); */
}

.AppContainer {
  display: flex;
  flex-direction: column; 
  margin: 6rem 0;
  /* height: 90vh; */
  width: 90vw;
  background-color: var(--black);
  /* overflow: hidden; */
  padding-bottom: 6rem;
}