/* css fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* font-family: "Major Mono Display", monospace; */
* {
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  box-sizing: border-box;
  color:#EDF1F4 ;
}

/* css variables */
:root {

  --color-primary: #9F88FD;
  --color-secondary: #1EA8DF;
  --color-tertiary: #0079E7;
  --black:#000;
  --matte:#181719;
  --white:#FFFFFF;
  --offwhite:#EDF1F4;
  --color-grid: #1F1D36;
  --red: #C40C0C;
  --green: #0D9276;

  --color-primary1: #6346d5;
  --color-primary2: #5b89d8;
  --color-primary3: #743ee2;

  --bg-color: rgba(14, 19, 23, 0.24);
  --glass: rgba(14, 19, 23, 0.54);
}

.App {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(0deg, rgb(47, 54, 80) 20%, rgb(80, 93, 124) 96%); */
  background-color: var(--black);
}

.AppContainer {
  display: flex;
  flex-direction: column; 
  margin: 6rem 0;
  width: 90vw;
  background-color: var(--matte);
  padding-bottom: 6rem;
}