<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Upload CSV File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            Select file: <input type="file" name="myfile">
        </div>
        <div>
            Or provide text link: <input type="text" name="product_link">
        </div>
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        <p {% if message.tags %} class="{% endif %}">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
</body>
</html>