h1 {
  color: #ddd;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title-bar {
  flex: 0 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  padding: 0 4rem;
  font-size: 1rem;
}

.chart-layout {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
}

.chart-element {
  padding: 2rem;
  margin: 1rem;
  background-color: linear-gradient(
    0deg,
    rgb(47, 54, 80) 20%,
    rgb(80, 93, 124) 96%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.line-graph {
  grid-column: 1 / span 3;
}

.stacked-bar {
  max-height:500px ;
  grid-column: 2 / span 2;
}
.card2 {
  grid-column: 2 / span 2;
}

.word-cloud
{
  
  grid-column: 3 / span 2;
}
.wordcloud-image
{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.wordcloud-container
{
  width: 80%;
  ;
}

.polar-chart
 {
  /* grid-column: 1/ span 2; */
  grid-row: span 2; /* Spanning 2 rows */
  grid-column: span 2; /* Spanning 2 columns */
}

.info-item {
  margin-bottom: 10px;
}
.info-label {
  text-transform: capitalize;
  font-size: 13px;
}
.info-value {
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #a5e5fb;
  display: block;
}
