h1 {
  color: var(--offwhite);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title-bar {
  flex: 0 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  padding: 0 4rem;
  font-size: 1rem;
}

.chart-layout {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
  grid-gap: 4rem;
}

.chart-image{
  position: relative; /* Ensure the container is positioned */
  background-image: url('../Home/wallpaper6.png');
  background-position: center;
  background-size: cover;
}

.chart-image::after {
  content: ""; /* Add content to the pseudo-element */
  position: absolute; /* Position the pseudo-element absolutely */
  top: 0; /* Position it at the top of the container */
  left: 0; /* Position it at the left of the container */
  width: 100%; /* Make it cover the entire width of the container */
  height: 100%; /* Make it cover the entire height of the container */
  background-color: rgba(0, 0, 0, 0.3); /* Set the background color with transparency */

}

.chart-element {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.line-graph {
  grid-column: 1 / span 3;
}

.stacked-bar {
  grid-column: 1 / span 3;
}

.card2 {
  grid-column: 2 / span 2;
}

.word-cloud {
  grid-column: 3 / span 2;
}

.wordcloud-container {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.polar-chart
 {
  grid-row: span 2; 
  grid-column: span 2; 
}

.pie-chart
{
  margin-left: 4rem;
}
.doughnut-chart
{
  margin-right: 3rem;
}
.doughnut-chart h5, .pie-chart h5
{
  margin-bottom: 4rem;
  display: block;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 4rem;
}


.info-box {
  color: var(--offwhite);
  padding: 1rem 2rem;
}

.info-label {
  display: block;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.4rem;
}


.info-value {
  text-align: right;
  font-family: "Major Mono Display", monospace;
  font-size: 5rem;
  display: block;
}


.total {
  font-size: 1.5rem;
}

.info-value-total {
  font-size: 7rem;
}

.card-two {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container-two {
  padding:  2rem;
}

.info-label-two {
  text-align: center;
  display: block;
  margin: 1rem 0; 
}

.info-value-two {
  text-align: center;
  display: block;
  font-size: 4rem;
}

.update-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.overall-label {
  font-family: 'Nanum Gothic Coding', monospace;
  text-transform: capitalize;
}

.info-increase {
  color: var(--green);
}

.info-decrease {
  color: var(--red);
}

.word-cloud h5 {
  margin-bottom: 3rem;
}


@media screen and (max-width: 768px) {
  .chart-layout {
    grid-template-columns: repeat(1, 1fr);
  }
}